.menu__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 100px 0;

}
.card{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  flex-direction: column;
  color: #ffffff;
  padding: 0 40px 20px 32px;
}
.card__title{
  margin-bottom: 32px;
  margin-top: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  font-family: 'inter', 'arial', sans-serif;

}
.card__content{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

}
.card__list-item{
  display: flex;
  font-family: 'Noto serif', "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  width: 100%;

}
.card__list-divider{
  border-bottom: 1px solid #ffffff;
  flex-grow: 1;
}