.menu {
    padding: 100px 0 100px;
    background-color: #0a2750;
    background-image: url(../images/background_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
}
.menu__title{
    font-family: "Inter" "Arial" sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #ffffff;
    padding-top: 100px;
    width: 780px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.menu__subtitle{
    padding-top: 24px;
    padding-bottom: 100px;
    margin: auto;
    width: 780px;
    text-align: center;
    font-family: "Noto Serif" "Times New Roman" serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 30px;
    color: #ffffff;
}
.menu__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 100px 0;
    
}
.card{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    flex-direction: column;
    color: #ffffff;
    padding: 0 40px 20px 32px;
}
.card__title{
    margin-bottom: 32px;
    margin-top: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    font-family: "Inter" "Arial" sans-serif;
    
}
.card__content{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
   
}
.card__list-item{
    display: flex;
    font-family: "Noto" "Times New Roman" serif;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
      
}
.card__list-divider{
    border-bottom: 1px solid #ffffff;
    flex-grow: 1;
}